<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width" />
        <title>Breeze Todos Demo</title>
        <link rel="stylesheet" href="@Url.Content("~/Content/reset.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/toastr.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/toastr-responsive.css")"/>
        <link rel="stylesheet" href="@Url.Content("~/Content/todo.css")"/>
    </head>
    <body>
        <div id="applicationHost"></div>

        <script src="@Url.Content("~/Scripts/lib/jquery-1.8.0.min.js")"></script>
        <script src="@Url.Content("~/Scripts/lib/knockout-2.1.0.js")"></script>
        <script src="@Url.Content("~/Scripts/lib/q.js")"></script>
        <script src="@Url.Content("~/Scripts/lib/toastr.js")"></script>
        <script data-main="Scripts/main" src="@Url.Content("~/Scripts/lib/require.js")"></script>
    </body>
</html>