<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Breeze Documentation Sample Tests</title>
    <link rel="stylesheet" href="@Url.Content("~/Content/qunit.css")" type="text/css" media="screen"/>
    <script src="@Url.Content("~/Scripts/lib/modernizr-2.0.6-development-only.js")" ></script>
    <script src="@Url.Content("~/Scripts/lib/qunit.js")"></script> 
    <script src="@Url.Content("~/Scripts/lib/q.js")"></script>
    <script src="@Url.Content("~/Scripts/lib//knockout-2.1.0.js")"></script>
    <script src="@Url.Content("~/Scripts/lib//require.js")"></script>
    <script src="@Url.Content("~/Scripts/lib/jquery-1.8.0.min.js")"></script>
    <script type="text/javascript">
         DEBUG_KO = true;
         DEBUG_WEBAPI = true;
    </script>
    <script src="@Url.Content("~/Scripts/testRunner.js")"></script>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
  <header>
    <div class="content-wrapper">       
      <div class="float-left">
        <p class="site-title"><a href="/">Breeze Documentation Sample Tests</a></p>
            <div id="message"></div>
      </div>
    </div>
  </header>
    <div id="body">
        <h1 id="qunit-header">QUnit Test Suite</h1>
        <h2 id="qunit-banner"></h2>
        <div id="qunit-testrunner-toolbar"></div>
        <h2 id="qunit-userAgent"></h2>
        <ol id="qunit-tests"></ol>
        <div id="qunit-fixture">test markup</div>
    </div>
</body>
</html>
