<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Breeze Sample Test Suite</title>
    <link rel="stylesheet" href="@Url.Content("~/Styles/qunit.css")" type="text/css" media="screen"/>
     <script src="@Url.Content("~/App/lib/modernizr-2.0.6-development-only.js")" ></script>
   <script src="@Url.Content("~/App/lib/qunit.js")"></script> 
    <script src="@Url.Content("~/App/lib/q.js")"></script>
    <script src="@Url.Content("~/App/lib/knockout-2.1.0.js")"></script>
    <script src="@Url.Content("~/App/lib/require.js")"></script>
    <script src="@Url.Content("~/App/lib/jquery-1.7.2.min.js")"></script>
    <script type="text/javascript">
        DEBUG_KO = true;
        DEBUG_WEBAPI = true;
    </script>
    <script src="@Url.Content("~/App/testRunner.js")"></script>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">test markup</div>
</body>
</html>