<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1"/>
    <title>Breeze Sample Test Suite</title>
    <link rel="stylesheet" href="@Url.Content("~/Styles/qunit.css")" type="text/css" media="screen"/>
    <script src="@Url.Content("~/Scripts/modernizr-2.6.2.js")" ></script>
    <script src="@Url.Content("~/Scripts/qunit.js")"></script> 
    <script src="@Url.Content("~/Scripts/q.js")"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.2.1.js")"></script>
    <script src="@Url.Content("~/Scripts/require.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery-1.9.1.min.js")"></script>
    <script type="text/javascript">
        DEBUG_KO = true;
        DEBUG_WEBAPI = true;
    </script>
    <script src="@Url.Content("~/Scripts/app/testRunner.js")"></script>
  <meta name="viewport" content="width=device-width" />
</head>
<body>
    <div id="qunit"></div>
    <div id="qunit-fixture">test markup</div>
</body>
</html>