@using Breeze.Learn.Models
@using Breeze.Learn.Helpers
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Learn Breeze</title>
    @*used for syntax highlighting in the instructions pane*@
    <link rel="stylesheet" href="http://yandex.st/highlightjs/7.3/styles/default.min.css">

    <link rel="stylesheet" href="@Url.Content("~/Styles/codemirror.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Styles/jq-smoothness/jquery-ui-1.9.0.custom.css")"/>
    <link rel="stylesheet" href="@Url.Content("~/Styles/default.css")"/>

    <script src="http://yandex.st/highlightjs/7.3/highlight.min.js"></script>
    @*    <script src="http://code.jquery.com/jquery-1.8.2.js"></script>
    <script src="http://code.jquery.com/ui/1.9.0/jquery-ui.js"></script>*@

</head>
<body>
    <div class="header row">
        <div class="page-links"></div>

        <div class="header-container">
            <div class="page-title">learn.breeze.com</div>
            <div class="help-notworking button" data-bind="click: notWorking">
                <span class="arrow-down"></span>
                Help!&nbsp;It&nbsp;didn't&nbsp;work
            </div>

            <div class="tutorial-select button" data-bind="click: selectTutorial">
                <span class="arrow-down"></span>
                Tutorial:&nbsp;<span class="tutorial-title" data-bind="text: activeTutorial().Title"></span>
            </div>
        </div>
    </div>

    <div id="mainBody" class="body row">
        <div id="vSplitter">
            <div class="left col">
                <div id="hSplitterLeft">
                    <div class="top row">
                        <div class="panel">
                            <div class="panel-header">
                                <div class="step-navigation">
                                    <button class="step-next" data-bind="enable: canMoveNext, click: moveNext">
                                        <div class="arrow-right"></div>
                                    </button>
                                    <button class="step-previous" data-bind="enable: canMovePrevious, click: movePrevious">
                                        <div class="arrow-left"></div>
                                    </button>
                                    <div class="step-status">
                                        Step <span data-bind="text: activeStepNumber"></span>
                                        of <span data-bind="text: maxStepNumber"></span>
                                    </div>
                                </div>
                            </div>
                            <div class="panel-content">
                                <div id="instructions" class="scroll" data-bind="markdown: currentInstructions"></div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom row">
                        <div class="panel">
                            <div class="panel-header">
                                <div class="step-navigation">
                                    <div>Output</div>
                                    <button class="run" data-bind="click: run">
                                        <strong>Run</strong>
                                    </button>
                                </div>
                            </div>
                            <div class="panel-content" style="margin-top: 10px;" >
                                <div style="height: 100%;" id="output-container"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="right col">
                <div id="hSplitterRight">
                    <div class="top row">
                        <div class="panel">
                            <div class="panel-header">
                                <div class="step-navigation">
                                    <div>JavaScript</div>
                                </div>
                            </div>
                            <div class="panel-content2">
                                <div class="scroll">
                                    <textarea data-bind="jsEditor: currentJavascript"></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="bottom row">
                        <div class="panel">
                            <div class="panel-header">
                                <div class="step-navigation">
                                    <div>Html</div>
                                </div>
                            </div>
                            <div class="panel-content2">
                                <textarea data-bind="htmlEditor: currentHtml"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="dialog-select-tutorial" class="dialog" title="Select tutorial">
        <ul class="tutorial-list" data-bind="foreach: tutorials">
            <li class="tutorial-item" data-bind="click: function() { $parent.finishSelection($data); }, css: { selected: $data == $parent.activeTutorial() }">
                <div class="title" data-bind="text: Title"></div>
                <div class="description" data-bind="text: Description"></div>
            </li>
        </ul>
    </div>


    <div id="dialog-notworking" class="dialog" title="Help, it didn't work!">
        <p>Do you want to have your javascript and html code fixed?</p>
    </div>

    <div id="dialog-showSchema" class="dialog" title="Object model schema">
        <!-- Think about actually iterating over metadata here with a template engine -->
    </div>

    <script type="text/javascript">
        var Learn = (function(learn) {
            learn.tutorials = @TutorialCache.Tutorials.ToJsonObject();
          return learn;
      })(Learn || { });
    </script>

    <!-- Grab Google CDN's jQuery, with a protocol relative URL; fall back to local if offline -->
    <script src="@Url.Content("~/Scripts/jquery-1.8.2.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui-1.9.0.custom.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/knockout-2.1.0.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/showdown.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/editor/codemirror.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/editor/xml.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/editor/javascript.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/editor/css.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/editor/htmlmixed.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/splitter.js")" type="text/javascript" charset="utf-8"></script>
    <script src="@Url.Content("~/Scripts/learn.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/q.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/breeze.debug.js")" type="text/javascript"></script>
</body>
</html>
